@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

.middle {
  display: flex;
  margin: auto;
}
/* flex */
.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.content-center {
  justify-content: center;
}

.content-start {
  justify-content: flex-start;
}

.content-end {
  justify-content: flex-end;
}

.space-around {
  justify-content: space-around;
}

.space-between {
  justify-content: space-between;
}

/* font size */
.text-10 {
  font-size: 10px !important;
}
.text-16 {
  font-size: 16px !important;
}
.text-24 {
  font-size: 24px !important;
}
.text-32 {
  font-size: 32px !important;
}
.text-48 {
  font-size: 48px !important;
}

/* color */
.black-10 {
  color: rgba(0, 0, 0, 1) !important;
}
.black-9 {
  color: rgba(0, 0, 0, 0.9) !important;
}
.black-8 {
  color: rgba(0, 0, 0, 0.8) !important;
}
.black-7 {
  color: rgba(0, 0, 0, 0.7) !important;
}
.black-6 {
  color: rgba(0, 0, 0, 0.6) !important;
}
.black-5 {
  color: rgba(0, 0, 0, 0.5) !important;
}
.black-4 {
  color: rgba(0, 0, 0, 0.4) !important;
}
.black-3 {
  color: rgba(0, 0, 0, 0.3) !important;
}
.black-1 {
  color: rgba(0, 0, 0, 0.1) !important;
}

/* image */
.width-10 {
  width: 100% !important;
}
.width-9 {
  width: 90% !important;
}
.width-8 {
  width: 80% !important;
}
.width-7 {
  width: 70% !important;
}
.width-6 {
  width: 60% !important;
}
.width-5 {
  width: 50% !important;
}
.width-4 {
  width: 40% !important;
}
.width-3 {
  width: 30% !important;
}
.width-2 {
  width: 20% !important;
}
.width-1 {
  width: 10% !important;
}
/* padding */

/* color */
/* color */
/* color */
/* color */
/* color */
/* color */
